@using BSquadGames.Classes.ConnectFour
@page "/connectMain"
@rendermode InteractiveServer

<link href="CSS/ConnectFourCSS.css" rel="stylesheet">

<h3>Connect four</h3>
<div>Loading...</div>

<div> @player.Name</div>

<div class="connect-grid">
    @for (int row = 0; row < 6; row++){
        @for (int col = 0; col < 7; col++){

            (int, int) id = (row, col);

            bool isClickable = Board.DiscPlacement.Contains((row, col));
        
            <div class="connect-square" id="@id"
                @onmouseover="() => OnMouseOver(id)"
                @onclick="isClickable ? (() => OnClick(id)) : null">
                @if(Board.grid[row, col] == 1)
                {
                    <div>1</div>
                }
                else if(Board.grid[row, col] == 2)
                {
                    <div>2</div>
                }
                else if (Board.grid[row, col] == 0 && Board.DiscPlacement.Contains((row, col)))
                { 
                    <div>Free</div>
                }
                else
                {
                    <div></div>
                }
            </div>

        }
    }

</div>
<div></div>
<div>@Board.GameWinner</div>
<div>game is won: @Board.GameWon</div>
<div></div>

<button @onclick="NewGame">New Game!</button>
<button @onclick="WinnerCheck">CheckForWinner</button>

<div>@currentlyMouseOverSquare</div>
@foreach((int, int) freespots in Board.DiscPlacement){
    <div>Freespot: @freespots</div>
}


@code {
    ConnectFourBoard Board;
    (int, int) currentlyMouseOverSquare = (-1, -1);
    int currentPlayer = 1;

    ConnectFourPlayer player = new("Test");

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Board = new();
        Board.SetDiscAt(1, 1, 1);
        Board.SetDiscAt(1, 2, 1);
        Board.SetDiscAt(3, 0, 1);

        Board.SetDiscAt(5, 1, 2);
        Board.SetDiscAt(5, 2, 2);
        Board.SetDiscAt(5, 3, 2);
        Board.SetDiscAt(5, 4, 2);


    }

    public void NewGame()
    {
        Board.StartNewGame();
        WinnerCheck();
        currentPlayer = 1;
        Board.GetListPossibleCellsToPlaceDiscAt();
    }

    public void WinnerCheck()
    {
        Board.CheckWinner();
    }

    public void OnMouseOver((int, int) id)
    {
        currentlyMouseOverSquare = id;
    }

    public void OnClick((int, int) id)
    {
        if(Board.DiscPlacement.Contains((id.Item1, id.Item2)))
        {
            Board.SetDiscAt(id.Item1, id.Item2, currentPlayer);

            if (currentPlayer == 1)
            {
                currentPlayer = 2;
            }
            else
            {
                currentPlayer = 1;
            }

        }
        Board.GetListPossibleCellsToPlaceDiscAt();


    }

}
